.card {
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
  transition:
    transform 150ms ease,
    box-shadow 150ms ease,
    background-color 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }

  &:active {
    background-color: var(--mantine-color-gray-2);
  }
}

/* .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
} */

.rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: 12px;
  pointer-events: none;
}

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 5px;
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.action {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
  }
}

.footer {
  margin-top: var(--mantine-spacing-md);
}
